<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msal">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <!--Intent filter to capture authorization code response from the default browser on the device calling back to our app after interactive sign in -->
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="msauth"
                    android:host="Enter_the_Package_Name"
                    android:path="/Enter_the_Signature_Hash" />
            </intent-filter>
        </activity>
    </application>

</manifest>